<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="armymau.it.google_maps_library">

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application android:allowBackup="true" android:supportsRtl="true" />

</manifest>
